.cover {
    margin: 0 auto 32px;
    width: 952px;
}


.jumplinks {
    background-color: var(--color--platinum);
    box-sizing: border-box;
    font-size: 18px;
    line-height: 27px;
    list-style-type: none;
    margin: 0 auto 40px;
    max-width: 760px;
    padding: 32px 24px;
    position: sticky;
    top: calc(96px + 27px);
}

.jumplinks li:not(:last-child) {
    margin-bottom: 10px;
}

.jumplinks span {
    color: var(--color--black);
    display: block;
    font-weight: 600;
    margin-bottom: 14px;
}

.jumplinks ol {
    font-size: 16px;
    line-height: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.jumplinks button {
    background-color: transparent;
    border: 0;
    padding: 0;
    text-decoration: underline;
}



.date {
    color: var(--color--pale-chestnut);
    font-size: 16px;
    margin: 0 0 11px;
    padding-top: 69px;
    text-align: center;
}


.title {
    margin: 0 auto 29px;
    max-width: 760px;
    text-align: center;
}


.content {
    margin: 0 auto 53px;
    max-width: 760px;
}


.actions {
    border-bottom: 1px solid var(--color--black-transparent-16);
    display: flex;
    justify-content: center;
    padding-bottom: 64px;
}

.share {
    align-items: center;
    box-shadow: 0 0 24px var(--color--black-transparent-16);
    display: flex;
    padding: 14px 32px;
}

.share p {
    margin: 0 32px 0 0;
    padding-top: 2px;
}

.share ul {
    align-items: inherit;
    display: inherit;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.share li:not(:last-child) {
    margin-right: 24px;
}

.share a {
    color: var(--color--pale-chestnut);
}




@media (max-width: 1439px) {
    .date {
        margin-bottom: 12px;
    }
}


@media (max-width: 1024px) {
    .cover {
        margin-bottom: 16px;
        margin-left: calc(-1 * ((var(--viewport--width) - var(--container--width)) / 2));
        width: var(--viewport--width);
    }


    .date {
        margin-bottom: 13px;
        padding-top: 53px;
    }


    .title {
        margin-bottom: 22px;
    }
}


@media (max-width: 691px) {}