.site-header {
    box-shadow: 0 0 24px var(--color--black-transparent-10);
    position: sticky;
    top: 0;
    z-index: 3;
}

.site-header.style-filled {
    background-color: var(--color--white);
}

.site-header.style-transparent {
    background-color: var(--color--white-transparent-10);
}

.site-header.style-transparent .logo {
    color: var(--color--white);
}

.site-header.style-transparent .booking {
    border-color: var(--color--white);
    color: var(--color--white);
}

.site-header.style-transparent .languages {
    color: var(--color--white);
}

.site-header.style-transparent .menu {
    color: var(--color--white);
}

.site-header.style-transparent[_active] {
    background-color: var(--color--white);
}

.site-header.style-transparent[_active] .logo {
    color: inherit;
}

.site-header.style-transparent[_active] .booking {
    border-color: var(--color--pale-chestnut);
    color: inherit;
}

.site-header.style-transparent[_active] .languages {
    color: inherit;
}

.site-header.style-transparent[_active] .menu {
    color: inherit;
}

.site-header::before {
    backdrop-filter: blur(12px);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}


.site-header .container {
    align-items: center;
    display: flex;
    height: 96px;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}


.site-header .navigation {
    background-color: var(--color--white);
    box-shadow: 0 40px 32px var(--color--black-transparent-32);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    height: calc(100vh - 96px);
    justify-content: space-between;
    min-width: 512px;
    overflow-y: auto;
    padding: 87px 56px 128px;
    position: fixed;
    right: 0;
    text-transform: uppercase;
    top: 96px;
    transform: translateX(calc(100% + 64px));
    width: calc((((var(--viewport--width) - var(--container--width)) / 2) * 2) + 40px);
}

.site-header .navigation[_ready] {
    transform: translateX(100%);
}

.site-header .navigation[_animate] {
    transition: transform 0.16s linear;
}

.site-header .navigation[_active] {
    transform: translateX(0);
}

.site-header .navigation ul {
    list-style-type: none;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
}

.site-header .links {
    margin-bottom: 47px;
}

.site-header .links li:not(:last-child) {
    margin-bottom: 24px;
}

.site-header .links .active {
    align-items: center;
    display: flex;
}

.site-header .links .active::before {
    background-color: var(--color--black);
    content: "";
    height: 2px;
    margin-right: 32px;
    width: 48px;
}

.site-header .links .inactive {
    color: var(--color--black-transparent-64);
    font-weight: 300;
}


.site-header .social {
    display: grid;
    grid-column-gap: 12px;
    grid-template-columns: repeat(4, 48px);
    margin-bottom: 0;
}

.site-header .social a {
    align-items: center;
    border: 1px solid var(--color--black-transparent-16);
    display: flex;
    height: 48px;
    justify-content: center;
    width: 48px;
}


.site-header .buttons {
    align-items: inherit;
    display: inherit;
}


.site-header .booking-button {
    margin-right: 48px;
}

.site-header .booking {
    justify-content: center;
    padding: 7px 30px 6px;
}


.site-header .languages {
    display: flex;
    font-size: 14px;
    list-style-type: none;
    margin: 0 48px 0 0;
    padding: 0;
}

.site-header .languages li:first-child {
    display: inherit;
    margin-right: 6px;
}

.site-header .languages li:first-child::after {
    content: "|";
    display: block;
    margin-left: 6px;
}

.site-header .languages .active {
    font-weight: 600;
}


.site-header .menu {
    align-items: center;
    background-color: transparent;
    border: 0;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    line-height: 9px;
    padding: 0;
    text-transform: uppercase;
    width: 40px;
}

.site-header .menu[_active] svg:first-of-type {
    transform: scale(0);
}

.site-header .menu[_active] svg:last-of-type {
    transform: scale(1);
}

.site-header .menu[_animate] svg {
    transition: transform 0.16s linear;
}

.site-header .menu svg:first-of-type {
    margin-bottom: 13px;
}

.site-header .menu svg:last-of-type {
    position: absolute;
    transform: scale(0);
}

.site-header .menu span {
    pointer-events: none;
}




@media (max-width: 1439px) {
    .site-header .navigation {
        font-size: 22px;
        padding-top: 88px;
    }

    .site-header .links li:not(:last-child) {
        margin-bottom: 23px;
    }
}


@media (max-width: 1199px) {
    .site-header .navigation {
        min-width: 0;
        width: 50%;
    }
}


@media (max-width: 1024px) {
    .site-header.style-transparent .booking,
    .site-header.style-filled .booking {
        background-color: var(--color--pale-chestnut);
        border-color: var(--color--pale-chestnut);
        color: var(--color--white);
    }

    .site-header.style-transparent[_active] .booking {
        color: var(--color--white);
    }


    .site-header .container {
        height: 64px;
    }


    .site-header .logo svg {
        height: 44px;
        width: auto;
    }


    .site-header .navigation {
        height: calc(100vh - 64px);
        padding: 56px 48px 64px;
        top: 64px;
        z-index: 1;
    }

    .site-header .links {
        margin-bottom: 55px;
    }


    .site-header .booking-button {
        align-items: center;
        background-color: var(--color--white);
        bottom: 0;
        box-shadow: 0 0 32px var(--color--black-transparent-10);
        display: flex;
        height: 64px;
        justify-content: center;
        left: 0;
        margin-right: 0;
        position: fixed;
        right: 0;
    }

    .site-header .booking {
        width: var(--container--width);
    }
}


@media (max-width: 691px) {
    .site-header .navigation {
        padding-left: 16px;
        padding-right: 16px;
        width: 100%;
    }
}


@media (max-width: 459px) {
    .site-header .logo svg {
        height: 36px;
    }


    .site-header .languages {
        margin-right: 24px;
    }
}
